django
djangorestframework
django-cors-headers
gunicorn
psycopg2-binary
requests
knox
django-rest-knox
django-otp
qrcode
Pillow
pylint
pylint-django
pyotp
pytest
pytest-django
pytest-cov
pytest-asyncio
factory-boy
pytest-dotenv
coverage
atheris